@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

:root{
    --main-color: #447eb0;
    --second-color: #84b2db;
    --border: .1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.11);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--main-color);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}
.header .navbar a{
    margin-left: 1.5rem;
    padding: .7rem;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
}
.header .navbar a:hover{
    color: var(--main-color);
    background: #fff;
    border-radius: 5rem;
}
#menu-btn{
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    display: none;
}







@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: initial;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: var(--main-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        text-align: center;
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 3.5rem 2rem;
        display: block;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}